

.header {
        width: 100%;
        height: 133px;
        border-bottom: 2px solid #ccc;
        padding: 0 61px 0 61.53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.header__title-img {
        width: 395.83px;
        height: 37.53px;
}

.header__title-img img{
        width: 100%;
        height: 100%;
}

.header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
}

.header__menu-item--blog + .header__menu-item--about {
        margin-left: 31px;
}

.header__menu-item--about + .header__menu-item--links {
        margin-left: 34px;
}

.header__menu-item--links + .header__menu-item--projects {
        margin-left: 36px;
}

.header__menu-item--has-border {
        position: relative;
}

.header__menu-item--has-border span{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #000;
        transform: translateY(49px);
}

.header__menu-link {
        text-decoration: none;
        color: #000000;
        font-weight: 500;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 12%;
        font-family: 'New York Small', sans-serif;
}

.header__menu-icon {
        display: none;
}

.body__content-title{
        max-width: 858px;
        font-weight: 700;
        font-size: 54px;
        line-height: 54px;
        margin: 0 auto;
        margin-top: 44px;
        text-align: center;
        font-family: 'New York Large', sans-serif;
}

.body__content-desc{
        font-family: 'SF Mono', sans-serif;
        max-width: 592px;
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
        margin: 0 auto;
        margin-top: 32px;
        text-align: center;
}


.body__content-img{
        margin-top: 77px;
        width: 1440px;
        height: 900px;
}

.body__content-img img {
        width: 100%;
        height: 100%;
}

.body__detail {
     
}

.body__detail-user {
        position: relative;
        padding-top: 24px;
}

.body__detail-user .body__detail-border{
        content: '';
        position: absolute;
        top: -12;
        left: 50%;
        width: 640px;
        transform: translateX(-50%);
        border-bottom: 2px solid #000;
}

.body__user-list {
        max-width: 640px;
        margin: 0 auto;
        margin-top: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.body__use-item {
border-radius: 14px;
display: flex;
}

.body__use-img {
        width: 57px;
        height: 57px;
}

.body__use-img img{
        width: 100%;
        border-radius: 50%;
}

.body__use-text {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
}
.body__use-name {
        font-family: SF Pro Text;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.09px;
        color: #2F2C4A;
}
.body__use-time {
        margin-top: 8px;
        font-family: SF Pro Text;
        font-size: 16px;
        line-height: 19.09px;
}

.body__use-social{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
}

.body__use-social-img{
        width: 70px;
        height: 44px;
        border: 1px solid #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px, 1px rgba(0, 0, 0, 0.08);
}

.body__use-social-img--has-phone {
        display: none;
}

.body__use-social-img img{
        width: 20px;
        height: 19.92px;
}

.body__detail-text{
        font-family: 'New York Medium' , 'sans-serif';
        max-width: 640px;
        margin: 0 auto;
        margin-top: 52px;
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
}





.body__detail-title{
        font-family: 'SF Pro Display', 'sans-serif';
        font-weight: 700;
        font-size: 32px;
        line-height: 51.2px;
        max-width: 640px;
        margin: 0 auto;
        margin-top: 57px;
}

.body__detail-text--has-picture {
        font-family: 'New York Medium', 'sans-serif';
        margin-top: 24px;
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
}

.body__detail-img{
        margin: 0 auto;
        margin-top: 52px;
        width: 854px;
        height: 570px;
}

.body__detail-img img {
        width: 100%;
        height: 100%;
}

.body__detail-img--desc{
        font-family: 'SF Pro Text', 'sans-serif';
        margin-top: 12px;
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px;
        text-align: center;
}
.body__detail-title-list{
        max-width: 640px;
        margin: 0 auto;
        margin-top: 52px;
        font-family: 'New York Medium', 'sans-serif';
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
}
.body__detail-list{
        list-style: none;
        max-width: 640px;
        margin: 0 auto;
        margin-top: 19px;
}
.body__detail-item{
        position: relative;
        display: flex;
        font-family: 'New York Medium', 'sans-serif';
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
}

.body__detail-item + .body__detail-item {
        margin-top: 19px;
}

.body__detail-item img {
        width: 6px;
        height: 6px;
        transform: translateY(14px) scale(1.5);
        
}

.body__detail-item span {
        margin-left: 15.76px;
}

.body__detail-social{
        margin-top: 77px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
}

.body__detail-social-item{
        width: 320px;
        height: 64px;
        border: 1px solid #EAEAEA;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0px, 1px rgba(0, 0, 0, 0.08);
}

.body__detail-social-item img{
        width: 20px;
        height: 19.92px;
        margin-left: 70px;
}

.body__detail-social-item span{
       font-family: 'SF Pro Text', 'sans-serif';
       margin-left: 16px;
       font-size: 16px;
       font-weight: 500;
       line-height: 25.6px;
}

.body__detail-desc{
        font-family: 'SF Pro Text', 'sans-serif';
        max-width: 640px;
        margin: 0 auto;
        margin-top: 32px;
        font-size: 16px;
        line-height: 19.09px;
        font-weight: 500;
}

.body__detail-desc a {
        color: #000;
}


.body__detail-information{
        margin: 0 auto;
        margin-top: 32px;
        padding-top: 32px;
        border-top: 2px dotted #000;
        max-width: 640px;
}

.body__information-item {
        display: flex;
        margin: 0 auto;
        max-width: 543px;
 }
        
.body__information-img {
        width: 57px;
        height: 57px;
}

.body__information-img img{
        width: 100%;
        border-radius: 50%;
}

.body__information-content {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
}

.body__information-text {
        font-family: SF Pro Text;
        font-size: 16px;
        line-height: 25.6px;
}

.body__information-name {
        font-family: SF Pro Text;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.09px;
        display: inline;
}


.body__articles{
        position: relative;
        margin-top: 34px;
        border-top: 2px solid #000;
}

.body__articles-border-img {
        position: absolute;
        top: 0;
        left: 50%;
        width: 82px;
        height: 64.29px;
        transform: translate(-70%, -50%);
}

.body__articles-title{
        text-align: center;
        margin-top: 62px;
        font-family: 'SF Mono', sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 52.51px;
}
.body__articles-list{
        max-width: 968px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 28px;
        row-gap: 34px;
        margin-top: 27px;
}
.body__articles-item{
        width: 304px;
       display: flex;
       flex-direction: column;
}
.body__articles-img{
        width: 100%;
}
.body__articles-text{
        max-width: 262px;
        font-family: 'SF Pro Display', sans-serif;
        margin-top: 20px;
        font-style: Medium;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 26.4px;
}

.body__form{
        max-width: 640px;
        margin: 0 auto;
        margin-top: 144px;
        padding: 62px 0 59px;
        height: 313px;
        border: 1px solid #000;
        border-top: 9px solid #000;
}



.body__form-title{
        font-family: 'New York Extra Large', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 28px;
        text-align: center;
        
}
.body__form-text{
        font-family: 'SF Pro Text', sans-serif;
        margin-top: 18px;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        color: #090909;
}
.body__form-group{
        position: relative;
        max-width: 520px;
        height: 54px;
        margin-left: 60px;
        margin-top: 36px;
}
.body__form-input{
        width: 413px;
        height: 100%;
        outline: none;
        border: 1px solid #000;
        padding: 15px 16px;
}

.body__form-input::placeholder{
       font-family: 'SF Pro Text', sans-serif;
       color: #000;
       font-size: 20px;
       font-weight: 400;
}

.body__form-btn{
        position: absolute;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 23.87px;
        letter-spacing: 1px;
        background-color: #000;
        width: 139px;
        height: 54px;
        transform: translateX(-33px);
        border: none;
}


.footer{
        background-color: #000;
        margin-top: 113px;
        padding: 18px 0 32px;
}
.footer__list{
        color: #fff;
        list-style: none;
        display: flex;
}
.footer__item   {
        font-family: 'SF Pro Text', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        white-space: nowrap;
}

.footer__item:first-child   {
        font-weight: 800;
        letter-spacing:4px;
}

.footer__item:nth-child(2)   {
        margin-left: 10px;
        letter-spacing:4px;
}

.footer__item:nth-child(3)   {
        margin-left: 19px;
        font-weight: 800;
        letter-spacing:4px;
}

.footer__item:nth-child(4)   {
        margin-left: 16px;
        letter-spacing:4px;
}

.footer__item:nth-child(5)   {
        margin-left: 13px;
        font-weight: 800;
        letter-spacing:4px;
}

.footer__item:nth-child(6)   {
        margin-left: 13px;
        letter-spacing:4px;
}

.footer__item:nth-child(7)   {
        margin-left: 18px;
        font-weight: 800;
        letter-spacing:4px;
}

.footer__item:nth-child(8)   {
        margin-left: 17px;
        letter-spacing:4px;
}

.footer__title-img{
        margin: 0 auto;
        margin-top: 105.12px;
        width: 290.91px;
        height: 27.3px;
}

.footer__title-img img{
        width: 100%;
        height: 100%;
}

.footer__desc{
        margin: 0 auto;
        margin-top: 25.58px;
        color: #fff;
        max-width: 488px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
}
.footer__social{
        margin-top: 32px;
        width: 100%;
}

.footer__social-list{
        display: flex;
        justify-content: center;
        align-items: center;
}
.footer__social-item:nth-child(2){
       margin-left: 27px;
}

.footer__social-item:nth-child(3){
        margin-left: 29px;
 }

.footer__social-link{
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 27.2px;
}

.footer__text{
        text-align: center;
        margin-top: 64px;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        line-height: 16.8px;
}

.hide-pc {
        display: none;
}